<div class="row">
    <div class="col-md-4 col-md-offset-4 create-room-wrapper">
        <form role="form">
            <div class="form-group">
                <label for="Email">Email address</label>
                <input type="email" class="form-control" id="Email" data-ng-model="emailId" onkeypress="enterKeyHandler(event)">
            </div>
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" class="form-control" id="Name" placeholder="This will be public" data-ng-model="name" onkeypress="enterKeyHandler(event)">
            </div>
        </form>
        <button type="submit" class="btn btn-info enter-target" data-ng-click="createRoom(emailId, name)">
            {{ roomId ? 'Join ' : 'Create ' }} Chat Room <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
    </div>
</div>